html {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  background-color: #fff;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
body .blog {
  width: 100%;
  min-height: 100vh;
  background-color: #212d85;
  margin: 0 auto;
  background-image: url("/images/paint.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
body .blog .content {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
  margin: 0 auto;
}
